<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmls:th="https://www.thymeleaf.org/" xmls:sec="https://www.thymeleaf.org/extra/spring-security">
    <head th:replace="/fragments/head :: head"</head>
    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>
        
            <table class ="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id del usuario</th>
                        <th scope="col">Nombre del usuario</th>
                        <th scope="col">Estado</th>                      
                        <th scope="col">Sueldo</th> 
                        <th scope="col">Cambiar Estado</th>
                        <th scope="col">Cambiar Sueldo</th>     
                    </tr>
                </thead>
                <tbody th:each="periodista : ${periodista}">
                <td scope="row" th:text="${periodista.id}"></td>
                <td scope="row" th:text="${periodista.sueldo/__${periodista.id}__}"></td>
                <td scope="row" th:text="${periodista.activo}"></td>
                <td>
                    <a th:href="@{/admin/modificarActivo/__${periodista.id}__}"> <i class="fas fa-feather-alt"></i>Cambiar Estado</a>
                </td>              
                <td>
                    <a th:href="@{/periodista/sueldo/__${periodista.id}__}"> <i class="fas fa-feather-alt"></i>Cambiar sueldo</a>
                </td>
                </tbody>
            </table>
    </body>
</html>
